asttokens==2.4.1
brotlicffi==1.1.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
dbus-python==1.2.18
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.6.1
ecdsa==0.18.0
executing==2.0.1
fonttools==4.49.0
idna==3.6
ipython==8.23.0
jedi==0.19.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
notify2==0.3.1
numpy==1.26.4
olefile==0.47
packaging==24.0
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
prompt_toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.2
pycairo==1.26.0
pycparser==2.21
pycrypto==3.20.0
pycryptodome==3.20.0
Pygments==2.17.2
PyGObject==3.46.0
pyOpenSSL==24.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scapy==2.5.0
six==1.16.0
stack_data==0.2.0
toml==0.10.2
traitlets==5.14.1
typing_extensions==4.10.0
urllib3==2.2.1
wcwidth==0.2.13
